<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Login Info from UAA</title>

</head>

<body>


<main role="main" class="container">

    <div class="starter-template">
        <h1 th:text="${message}">Welcome</h1>
        <h2>
            <span th:text="${name}"></span>
            <br>
            <p></p>
            <form th:action="@{/refresh}" method="post">
                <input type="hidden" name="refresh" th:value="${refresh}">
                <input type="hidden" name="client_id" th:value="${client_id}">
                <input type="hidden" name="token_url" th:value="${token_url}">
                <input type="submit" name="submit" class="left-element" value="Refresh">
            </form>
            <p></p><p></p>
            <a href="/logout">Logout</a>
        </h2>
    </div>


</main>

</body>
</html>