<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Login Info from UAA</title>

</head>

<body>


<main role="main" class="container">

    <div class="starter-template">
        <h1 th:text="${message}">Welcome</h1>
        <h2>
            <span th:text="${name}"></span>
            <br>
            <p></p>
            <a href="/secured/">Retry</a>
            <p></p><p></p>
            <a href="/logout">Logout</a>
        </h2>
    </div>


</main>

</body>
</html>